<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cemp.mapper.BusStaDateMapper">

    <resultMap id="BaseResultMap" type="cemp.entity.BusStaDate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="begin_price" column="begin_price" jdbcType="DECIMAL"/>
            <result property="end_price" column="end_price" jdbcType="DECIMAL"/>
            <result property="max_price" column="max_price" jdbcType="DECIMAL"/>
            <result property="min_price" column="min_price" jdbcType="DECIMAL"/>
            <result property="trunover" column="trunover" jdbcType="DECIMAL"/>
            <result property="bus_date" column="bus_date" jdbcType="DATE"/>
            <result property="stock_code" column="stock_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,begin_price,end_price,
        max_price,min_price,trunover,
        bus_date,stock_code
    </sql>
</mapper>
